In [1]:
#Importing libraries 
import pandas as pd
import numpy as np 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm 
from sklearn.metrics import accuracy_score

In [4]:
#We load the data set 
diabetes_dataset=pd.read_csv('diabetes_prediction_dataset.csv')

In [6]:
#Getting information about the data
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [7]:
#Printing the first 5 rows 
diabetes_dataset.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [8]:
# Printing the last 5 rows 
diabetes_dataset.tail()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [10]:
#Getting how many rows and column are in the data 
diabetes_dataset['diabetes'].value_counts()

0    91500
1     8500
Name: diabetes, dtype: int64

In [11]:
diabetes_dataset.shape

(100000, 9)

In [14]:
diabetes_dataset.groupby('diabetes').mean()

/tmp/ipykernel_6885/225203897.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  diabetes_dataset.groupby('diabetes').mean()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
diabetes,,,,,,
0,40.115187,0.058984,0.029235,26.887163,5.396761,132.852470
1,60.946588,0.245647,0.149059,31.988382,6.934953,194.094706

In [16]:
#Separating the data and labels 
X=diabetes_dataset.drop(columns='diabetes',axis=1)

In [18]:
Y=diabetes_dataset['diabetes']

In [19]:
print(X)

       gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level
0              6.6                  140
1              6.6                   80
2              5.7                  158
3              5.0                  155
4              4.8                  155
...            ...                  ...
99995          6.2                   90
99996          6.5                  100
99997          5.7                  155
99998          4.0                  100
99999          6.6                   90

[100000 rows x 8 columns]

In [20]:
print(Y)

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [22]:
#Data Standardization
scaler=StandardScaler()

In [24]:
scaler.fit(X)

NameError: name 'x' is not defined

In [26]:
#Spliting the data to raing set and testing set
X_train,X_test,Y_train,Y_test=(X,Y,test_size=0.2,Stratify=Y,random_state=2)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3868862450.py, line 2)